{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

    {{> "components/post-base" tabla_de_contenidos=false}}

{{/post}}

{{#if @custom.show_related_articles}}
    {{#get "posts" include="authors" filter="id:-{{post.id}}" limit="4" as |next|}}
        {{#if next}}
            <section class="gh-container is-grid gh-outer">
                <div class="gh-container-inner gh-inner">
                    <h2 class="gh-container-title">{{ t "Read more"}}</h2>
                    <div class="gh-feed">
                        {{#foreach next}}
                            {{> "post-card" lazyLoad=true}}
                        {{/foreach}}
                    </div>
                </div>
            </section>
        {{/if}}
    {{/get}}
{{/if}}